*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.banner{
    background-image: url('../images/banner/banner3.png');
    height: 100vh;
text-align: right;
}
.banner-title{
    padding: 216px 230px 474px 800px ;
    margin-bottom: 20px;
    font-weight: 700;
font-size: 30px;
color: #FFFFFF;
}
.banner-description{
    font-size: 16px;
margin-bottom: 10px;
color: #FFFFFF;
}
.btn{
    padding:10px ;
    border-radius: 5px;
    border-style: none;
    font-size: 16px;
    
color: #005FAC;
}
/* section failure */
.section-failure{
    display: flex;
    padding: 150px;
    gap: 70px;
}
.failure{

}
.failure-title{
    padding-top: 250px;
    font-weight: 700;
font-size: 40px;
padding-right:200px;
margin-bottom: 20px;
}
.failure-description{
    font-weight: 400;
font-size: 16px;
margin-bottom: 15px;
padding-right: 170px;
}
.failure-list{
    list-style: none;
    
}
.failure-list li{
     display: flex;
     align-items: center;
     color: #444343;
}
.list-icon{
    width: 20px;
    height: 20px;
}
.section-plans{
    padding: 30px 150px;
    text-align: center;
    margin-bottom: 100px;
}
.my-title{
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
}
.my-continar{
    display: flex;
    justify-content:space-around;
    gap: 30px;
}
.plan{
    padding:20px ;
    background-color: 
    #005FAC;
    border-radius: 8px;
}
.plan-sub-title{
    font-weight: 700;
font-size: 30px;
margin-top: 10px;
margin-bottom: 10px;
color: #151414;
}
.plan-description{
    color:black;
    font-weight: 500;
    font-size: 25px;
}